@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Montserrat", sans-serif;
  }

  :root {
    --background: 220 17% 17%;
    --foreground: 220 17% 98%;

    --card: 220 17% 20%;
    --card-foreground: 220 17% 98%;

    --popover: 220 17% 17%;
    --popover-foreground: 220 17% 98%;

    --primary: 220 17% 98%;
    --primary-foreground: 220 17% 17%;

    --secondary: 220 17% 25%;
    --secondary-foreground: 220 17% 98%;

    --muted: 220 17% 22%;
    --muted-foreground: 220 17% 80%;

    --accent: 220 17% 25%;
    --accent-foreground: 220 17% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 220 17% 98%;

    --border: 220 17% 25%;
    --input: 220 17% 25%;
    --ring: 220 17% 83.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
